---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../../base

patches:
  - target:
      kind: Subscription
      name: multicluster-engine
    patch: |-
      - op: replace
        path: /spec/channel
        value: 'stable-2.2'